    <div class="container">


        {{!-- <section class="notifications">
            <p class="notification-message">Message...</p>
        </section> --}}

        <main>
            <h1 class="text-center">Courses</h1>
            <section>
                <a href="/create/course" class="btn btn-warning ">Create Course</a>
                <form class="search float-right">
                    <label>Search: </label>
                    <input type="text">
                    <input type="submit" class="btn btn-info" value="Search">
                </form>
            </section>
              
            <div class="container mt-3">
                <div class="row ">
                 
                    <div class="card-deck d-flex justify-content-center">
                        {{#each courses}} 
                        <div class="card mb-4">
                            <img class="card-img-top" src="{{imgURL}}" alt="Card image cap" width="400">
                            <div class="card-body">
                                <h4 class="card-title">{{name}}</h4>
                            </div>
                            <div class="card-footer">
                                <a href="/details/{{id}}"><button type="button" class="btn btn-info">Details</button></a>
                                <small class="float-right">Date...</small>
                            </div>
                        </div>
                        {{else}}
                        <h3 class="text-center">No courses...</h3>
                        {{/each}}
                    </div>
                </div>
            </div>
        </main>

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2019
                <a href="#/">Express Fundamentals</a>
            </div>
        </footer>

    </div>